body {
    font-family: "Georgia", serif;
    color: #425445;
    margin-left: 30px;
}

h1 {
    text-align: center;
}

button {
    font-family: "Georgia", serif;
    font-size: 25px;
    border-radius: 30px;
    background-color: lightgreen;
    color: #425445;
    padding: 10px;
}

input {
    font-size: 25px;
    margin-bottom: 20px;
}

table, th, td {
    font-family: "Georgia", serif;
    color: #425445;
    background-color: lightgreen;
    border: 1px solid #425445;
    padding: 10px;
    margin: 2px;
}